@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.container > div {
  padding: 10px;
  text-align: center;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffeead;
}
.home {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.aksi {
  display: flex;
  flex-direction: column;
}
.lain > button {
  border-radius: 72% 28% 70% 30% / 69% 73% 27% 31%;
  font-family: "Space Mono", monospace;
  box-shadow: inset 0px 1px 0px 0px #000;
  background: linear-gradient(to bottom, #000 5%, #000 100%);
  background-color: #000;
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
  color: #ffeead;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000;
}
.lain > button:hover {
  background: linear-gradient(to bottom, #000 5%, #000 100%);
  background-color: #000;
}
.lain > button:active {
  position: relative;
  top: 3px;
}
.myButton {
  box-shadow: inset 0px 1px 0px 0px #000;
  background: linear-gradient(to bottom, #000 5%, #000 100%);
  background-color: #000;
  border: 1px solid #000;
  border-radius: 58% 42% 42% 58% / 79% 68% 32% 21%;
  display: inline-block;
  cursor: pointer;
  color: #ffeead;
  font-family: Arial;
  font-size: 27px;
  font-weight: bold;
  padding: 25px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px wheat;
}
.myButton:hover {
  background: linear-gradient(to bottom, #000 5%, #000 100%);
}
.myButton:active {
  position: relative;
  top: 3px;
}
.aksi > button {
  margin: 10px;
}
body {
  margin: 0;
}
p::selection,
a::selection,
div::selection {
  background: goldenrod;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  font-family: "Space Mono", monospace;
  background-color: #ffeead;
}
.container > .home {
  background-color: #000;
}
.container {
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-bottom: 30px;
  padding: 50px;
  border: 5px solid #000;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.home {
  width: 250px;
  height: 300px;
  border-radius: 36% 64% 32% 68% / 79% 28% 72% 21%;
}
.header,
.footer {
  color: #000;
  text-align: center;
}
.footer {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid #000;
}
a:hover {
  background: goldenrod;
}
p,
h1,
h2 {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
